{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features" style="padding-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Informacion del vivero:</h2>
                        
                        <br>
                        
                        <p><h3>{{vivero.nombre}}<br><br>
                        {{vivero.provincia}}, {{vivero.localidad}}<br><br>
                        {{vivero.calle}} {{vivero.altura}}<br><br>
                        Telefono: {{vivero.telefono}}</h3></p><br>
                       
                        <div class="subpage-hero">
                            <h3><a class="btn btn-border" href="{% url 'viveros:ListaViveros' %}" >Listado de viveros</a> 
                            <a class="btn btn-border" onclick="history.back()">Volver</a></h3>  
                        </div> 
                                       
                                        
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        {% if vivero.imagen %}
                        <img src="{{vivero.imagen.url}}" style="margin-top: 100px;" > 
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

    </main><!-- /#main -->

    {% endblock %}