{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features" style="min-height: 700px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Todos los viveros:</h2>
                        
                        <br>
                        <ul> <h3>
                        
                        {% for vivero in object_list %}

                            <li>                            
                                <a href="{% url 'viveros:DetalleVivero' vivero.id %}">
                                    <i style="color: rgb(0, 0, 0);">{{vivero.nombre}} en {{vivero.localidad}}</i>
                                </a>
                                {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                (
                                <a class="site-title" href="{% url 'viveros:UpdateVivero' vivero.id %}">Editar</a>
                                |
                                <a class="site-title" href="{% url 'viveros:BorrarVivero' vivero.id %}">Eliminar</a>
                                )
                                {% endif %}
                                {% endif %}
                            </li><br>
                        {% endfor %}
                        
                        </h3></ul>
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                        <div >
                        <h3><a class="btn btn-border" href="{% url 'viveros:AgregarVivero' %}" >Nuevo vivero</a></h3>                         
                        </div>
                        {% endif %}
                        {% endif %}
                                  
                    
                    </div>
                    <div class="col-sm-7 hidden-xs" style="margin-top: 100px;" >
                        <img src="{% static 'home/assets/img/vivero.png' %}" alt="">
                    </div>
                </div>
            </div>
        </section>

        
    </main><!-- /#main -->

    {% endblock %}