{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features" style="padding-bottom: 100px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>{{problema.nombreProblema}}</h1>
                        
                        <br> 
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Nombre cientifico:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >{{problema.nombreCientifico}}</h4>
                        </div> 
                        <br>  
                        
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Nivel de peligro:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >{{problema.peligro}}</h4>
                        </div> 
                        <br> 
                        
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Productos recomendados para tratarlo:</h4>
                            <h4 style="float: left; margin-left: 5px;" >
                                {% for producto in problema.productos.all %}
                                {{producto}}   <br>
                                {% endfor %}</h4>
                        </div> 
                        <br>
                        
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Forma de tratarlo:  </h4>
                            <h4 style="float: left; margin-left: 5px; margin-bottom: 50px;" >{{problema.solucion}}</h4>
                        </div> 
                        <br> 
                        
                        <div class="subpage-hero" style="margin-top: 70px;">
                        <h3><a class="btn btn-border" href="{% url 'problemas:ListaProblemas' %}" >Listado de problemas</a>
                        <a class="btn btn-border"  onclick="history.back()">Volver</a></h3>  
                        </div>
                                        
                                        
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        {% if '.' in problema.imagen.url %}
                        <img src="{{problema.imagen.url}}" style="margin-top: 100px;" > 
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

 
    </main><!-- /#main -->

    {% endblock %}