{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1><b>Blog</b>Plantas</h1>
                <p>Encontrá aquí todo sobre plantas, sus cuidados y donde conseguirlas.</p>
                <a href="{% url 'busqueda:Buscador' %}" class="btn btn-border">Buscador</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section class="site-section section-features" style="margin-bottom: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Aquí encontrará...</h2>
                        <p>Una plataforma responsiva, con base de datos aplicada principalmente al mudo de las plantas y flores. Tambien cuenta con una base de datos de problemas y sus posibles soluciones, puntos de venta y viveros.</p>
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="{% static 'home/assets/img/plantas.png' %}" alt="">
                    </div>
                </div>
            </div>
        </section><!-- /.section-features -->

        <section class="site-section section-services gray-bg text-center">
            <div class="container">
                <h2 class="heading-separator">Nuestro objetivo</h2>
                <p class="subheading-text">Dentro del mundo de las plantas, compartimos de las siguientes maneras</p>
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/anchor.svg' %}" alt="">
                            <h3 class="service-title">Anclamos conceptos</h3>
                            <p class="service-info"> Fijamos informacion sobre plantas, flores, productos, soluciones de diversas maneras.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/bycicle.svg' %}" alt="">
                            <h3 class="service-title">Diseño</h3>
                            <p class="service-info">Nuestro sitio cuenta con un equipo de diseñadores encargados de la interfaz y la estetica para una mejor experiencia </p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/paper-plane.svg' %}" alt="">
                            <h3 class="service-title">Desarrollo</h3>
                            <p class="service-info">Constante mantenimiento y actualizacion de nuestro sitio y base de datos. La plataforma esta siempre al dia.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/photo.svg' %}" alt="">
                            <h3 class="service-title">Fotografía</h3>
                            <p class="service-info">Implementamos conceptos esteticos de fotografia. Tenemos bases fundadas en el estudio de la coposición y en experiencia adquirida.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/microphone.svg' %}" alt="">
                            <h3 class="service-title">Soporte</h3>
                            <p class="service-info">Ante cualquier inconveniente usted puede contactar al grupo de desarrolladores para solucionarselo lo antes posible </p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/rocket.svg' %}" alt="">
                            <h3 class="service-title">Conexiones</h3>
                            <p class="service-info">Le acercamos datos de establecimientos y sus productos para que pueda conseguir lo que necesite de manera agil y rapida</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/basket.svg' %}" alt="">
                            <h3 class="service-title">Comercio</h3>
                            <p class="service-info">Cada producto y planta cuenta con su valor en dolares para que pueda anticipar de manera estable cuanto abonara por ellos</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="service">
                            <img src="{% static 'home/assets/img/chemestry.svg' %}" alt="">
                            <h3 class="service-title">Experimentacion</h3>
                            <p class="service-info">Aplicamos constantes cambios y postulamos nuevos desafios para mejorar la interfaz y logica de la plataforma</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.section-services -->

        


    {% endblock %}