{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features" style="min-height: 700px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Todos los productos:</h2>
                        
                        <br>
                        <ul> <h3>
                        
                        {% for producto in object_list %}

                            <li> 
                            
                                <a href="{% url 'productos:DetalleProducto' producto.id %}">
                                    <i style="color: rgb(0, 0, 0);">{{producto.nombre}}</i>
                                </a>
                                {% if user.is_authenticated %}
                                (
                                <a href="{% url 'productos:UpdateProducto' producto.id %}">
                                    <i class="fa fa-pencil" style="color: rgb(0, 0, 0);"> </i>
                                </a>
                                |
                                <a href="{% url 'productos:BorrarProducto' producto.id %}">
                                    <i class="fa fa-trash" style="color: rgb(0, 0, 0);"> </i>
                                </a>
                                )
                                {% endif %}
                            </li><br>
                        {% endfor %}
                        {% if user.is_authenticated %}
                        </h3></ul>
                        <div style="text-decoration-line: underline;">
                            <h3><a class="btn btn-border" href="{% url 'productos:AgregarProducto' %}" >Nuevo producto</a></h3>                         
                            </div>
                            {% endif %}
                    
                    
                    
                    </div>
                    <div class="col-sm-7 hidden-xs" style="margin-top: 100px;">
                        <img src="{% static 'home/assets/img/productos.png' %}" alt="">
                    </div>
                </div>
            </div>
        </section>

       

    </main><!-- /#main -->

    {% endblock %}