{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features" style="min-height: 700px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>{{producto.nombre}}</h1>
                        
                        <br>   
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Valor promedio:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >U$s {{producto.precio}}</h4>
                        </div> 
                        <br>
                        
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Viveros donde entontrarla:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >{{producto.puntoDeVenta.nombre}}</h4>
                        </div> 
                        <br>                        
                        
                        <br>
                        <div  class="subpage-hero" style="margin-top: 70px;">
                        <h3><a class="btn btn-border" href="{% url 'productos:ListaProductos' %}" >Listado de productos</a>
                        <a class="btn btn-border" onclick="history.back()">Volver</a></h3>  
                        </div>              
                                        
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        {% if '.' in producto.imagen.url %}
                        <img src="{{producto.imagen.url}}" style="margin-top: 100px;" > 
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

     

    </main><!-- /#main -->

    {% endblock %}