{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Todas las categorias:</h2>
                        
                        <br>
                        <ul> <h3>
                        
                        {% for categoria in object_list %}

                            <li> 
                            
                                <a>
                                    <i style="color: rgb(0, 0, 0);">{{categoria.nombre}}</i>
                                </a>
                                {% if user.is_superuser %}
                                (
                                <a href="{% url 'blog:UpdateCategoria' categoria.id %}">
                                    <i class="fa fa-pencil" style="color: rgb(0, 0, 0);"> </i>
                                </a>
                                |
                                <a href="{% url 'blog:BorrarCategoria' categoria.id %}">
                                    <i class="fa fa-trash" style="color: rgb(0, 0, 0);"> </i>
                                </a>
                                )
                                {% endif %}
                            </li><br>
                        {% endfor %}
                        
                        </h3></ul>
                            {% if user.is_authenticated %}
                            <div style="text-decoration-line: underline;">
                                <h3><a class="btn btn-border" href="{% url 'blog:AgregarCategoria' %}" >Nueva categoria</a></h3>                         
                            </div>
                            {% endif %}
                    
                    
                    
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="{% static 'home/assets/img/plantas.png' %}" alt="" >
                    </div>
                </div>
            </div>
        </section>

     

    </main><!-- /#main -->

    {% endblock %}