{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <div id="hero" class="hero overlay subpage-hero2 blog-hero site-header-white">
        <div class="hero-content">
            <div class="hero-text" >
                <h1>Blog</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home:Inicio' %}">Home</a></li>
                  <li class="breadcrumb-item">Blog</li>
                </ol>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

    <main id="main" class="site-main">
        <section class="site-section subpage-site-section section-blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        {% for posteo in object_list %}
                        <article class="blog-post" style="margin-bottom: 100px;">
                            <a href="{% url 'blog:DetallePosteo' posteo.id %}">
                                {% if '.' in posteo.imagen.url %}
                                <img src="{{posteo.imagen.url}}" class="img-res" alt="">
                                {% endif %}
                            </a>
                            <div class="post-content">
                                <h3 class="post-title"><a href="{% url 'blog:DetallePosteo' posteo.id %}">{{posteo.titulo}}</a></h3>
                                <p>{{posteo.subtitulo}}</p>
                                    
                                <p class="subheading-text" style="position: right;"> 
                                    {{posteo.autor}}   /   {{posteo.fecha}}   /                                            
                                    <a class="read-more" href="{% url 'blog:DetallePosteo' posteo.id %}">Seguir leyendo</a>
                                </p>
                                
                            </div><!-- /.post-content -->
                            <br>
                            
                            <br>
                            <hr style="height:3px;border:none;color:#333;background-color:#333;" />
                        </article><!-- /.blog-post -->
                        {% endfor %}
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <div>
                                <h3><a class="btn btn-border" style="margin-top: 50px;" href="{% url 'blog:AgregarPosteo' %}" >Nuevo post</a></h3>                         
                            </div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <aside class="col-md-4">
                        <div class="sidebar">
                            <div class="widget search-form">
                                <h4 class="widget-title">Buscar</h4>
                                <form class="form-group" action="/busqueda/buscar/" method="GET"> {% csrf_token %}
                                    <input type="text" class="form-control" placeholder="Buscar en sitio" required , name= "busqueda", id= "busqueda">
                                    <button class="btn btn-green" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div><!-- /.search-form -->
                            <div class="widget widget-recent-posts">
                                <h4 class="widget-title">Posteos recientes</h4>
                                <ul class="list-unstyled">
                                    
                                    {% for posteo in object_list %}
                                    {% if forloop.revcounter <= 5 %}
                                    <li><a href="/blog/posteo/{{posteo.id}}/detail">{{posteo.titulo}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    
                                    
                                    
                                </ul>
                            </div><!-- /.widget-recent-posts -->
                            <div class="widget widget-categories">
                                <h4 class="widget-title">Categories</h4>
                                <ul class="list-unstyled">
                                    {% for categoria in categorias %}
                                    {% if forloop.revcounter <= 5 %}
                                    <li><a href="/blog/categoria/{{categoria.nombre}}">{{categoria.nombre}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div><!-- /.widget-categories -->
                        </div><!-- /.sidebar -->
                    </aside>
                </div>
            </div>
        </section><!-- /.section-portfolio -->

    </main><!-- /#main -->

   {% endblock %}
</body>
</html>