{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main" style="margin-bottom: 10px;" >
        

        <section class="site-section section-features" style="padding-bottom: 0px;">
            <div class="container">
                <div class="row" >
                    <div class="col-sm-5" >
                        <h2>{{posteo.titulo}}</h2>
                        
                        <br>   
                        <p><h4>{{posteo.subtitulo}}</h4></p>
                        <p>{{posteo.fecha}}</p>
                        <p>{{posteo.texto|safe}}}}</p> 
                        <p><h4>{{posteo.autor}}</h4></p>
                        <p><h5>{{posteo.categoria}}</h5></p>
                        <br>
                        {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            
                                <a href="{% url 'blog:UpdatePosteo' posteo.id %}">
                                    <i class="btn btn-border" style="color: rgb(0, 0, 0);"> Editar </i>
                                </a>
                                
                                <a href="{% url 'blog:BorrarPosteo' posteo.id %}">
                                    <i class="btn btn-border" style="color: rgb(0, 0, 0);"> Eliminar </i>
                                </a>
                                
                            
                            <br>
                        {% endif %}
                        {% endif %}
                        <div class="subpage-hero">
                        <h3><a class="btn btn-border" href="{% url 'blog:ListaPosteos' %}" >Blog</a> 
                        <a class="btn btn-border" onclick="history.back()">Volver</a></h3>  
                        </div> 
                                                    
                    </div>
                    
                   

                    <div class="" style="margin-top: 150px; ">
                        {% if posteo.imagen %}
                        <img src="{{posteo.imagen.url}}" alt="" style="max-width: 700px;  margin-right: 200px;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

 
    </main><!-- /#main -->

    {% endblock %}