{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features section-ui-elements">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Datos del posteo:</h2>
                        
                        <br>
                        <form method="post" enctype="multipart/form-data">{%csrf_token%}
                            {{form.media}}
                            {{form.as_p}}                                                       
                            <input  class="btn btn-border" style="margin-top: 50px;" type="submit" value="Enviar"/> 
                            <a class="btn btn-border" style="margin-top: 50px;" href="{% url 'blog:ListaPosteos' %}">Volver</a>   
                            {% if user.is_superuser %}
                            <a class="btn btn-border" style="margin-top: 20px;" href="{% url 'blog:ListaCategorias' %}" >Categorias</a>                                                  
                            {% endif %}
                        </form>
                        
                    </div>
                    <script>
                        var name = "{{ user.id }}";
                        document.getElementById('usuarioImagen').value = name;
                    </script>
                </div>
            </div>
        </section>

     

    </main><!-- /#main -->

    {% endblock %}