{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Datos de la planta:</h2>
                        
                        <br>
                        <form class="selectpicker-checkboxes-radiobtn"  method="post" enctype="multipart/form-data">{%csrf_token%}
                            {{ form.as_p }}
                            <input class="btn btn-border" style="margin-top: 50px;" type="submit" value="Enviar"/>                             
                            <a  class="btn btn-border" style="margin-top: 50px;" href="{% url 'plantas:ListaPlantas' %}">Volver</a>
                        </form>
                        
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        <img src="{% static 'home/assets/img/plantas.png' %}" alt="">
                    </div>
                </div>
            </div>
        </section>

    

    </main><!-- /#main -->

    {% endblock %}