{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features" style="min-height: 700px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Todas las plantas:</h2>
                        
                        <br>
                        <ul> <h3>
                        
                        {% for planta in object_list %}

                            <li> 
                            
                                <a href="{% url 'plantas:DetallePlanta' planta.id %}">
                                    <i style="color: rgb(0, 0, 0);">{{planta.nombreComun}}</i>
                                </a>
                                {% if user.is_authenticated %}
                                {% if user.is_superuser %}
                                (
                                <a class="site-title" href="{% url 'plantas:UpdatePlanta' planta.id %}">Editar</a>
                                |
                                <a class="site-title" href="{% url 'plantas:BorrarPlanta' planta.id %}">Eliminar</a>
                                )
                                {% endif %}
                                {% endif %}
                            </li><br>
                        {% endfor %}
                        
                        </h3></ul>
                            {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                            <div style="text-decoration-line: underline;">
                                <h3><a class="btn btn-border"  href="{% url 'plantas:AgregarPlanta' %}" >Nueva planta</a></h3>                         
                            </div>
                            {% endif %}
                            {% endif %}
                    
                    
                    
                    </div>
                    <div class="col-sm-7 hidden-xs" style="margin-top: 100px;">
                        <img src="{% static 'home/assets/img/plantas.png' %}" alt="" >
                    </div>
                </div>
            </div>
        </section>

     

    </main><!-- /#main -->

    {% endblock %}