{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features" style="min-height: 700px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h1>{{planta.nombreComun}}</h1>
                        
                        <br>           
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Nombre cientifico:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >{{  planta.nombreCientifico}}</h4>
                        </div> 
                        <br>  
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Familia de plantas:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >{{planta.familia}}</h4>
                        </div> 
                        <br>                        
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Tierra recomendada:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >{{planta.sustrato}}</h4>
                        </div> 
                        <br>
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Valor promedio:  </h4>
                            <h4 style="float: left; margin-left: 5px;" >U$s {{planta.precio}}</h4>
                        </div> 
                        <br>
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Viveros donde entontrarla:</h4>
                            <h4 style="float: left; margin-left: 5px;" >
                                {% for vivero in planta.viveros.all %}
                                {{vivero}}   <br>
                                {% endfor %}</h4>
                        </div> 
                        <br>
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Problemas usuales:</h4>
                            <h4 style="float: left; margin-left: 5px;" >
                                {% for problema in planta.peligrosComunes.all %}
                                {{problema}}   <br>
                                {% endfor %}</h4>
                        </div> 
                        <br>
                        {% if planta.interior == True %}
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Es de interior?: </h4>
                            <h4 style="float: left; margin-left: 5px;" >Si</h4>
                        </div> 
                        <br>                        
                        {% else %}
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Es de interior?: </h4>
                            <h4 style="float: left; margin-left: 5px;" >No</h4>
                        </div> 
                        <br>                        
                        {% endif %}
                        <br>

                        {% if planta.luzDirecta == True %}
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Nececita luz solar directa?: </h4>
                            <h4 style="float: left; margin-left: 5px;" >Si</h4>
                        </div> 
                        <br>                        
                        {% else %}
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Nececita luz solar directa?: </h4>
                            <h4 style="float: left; margin-left: 5px;" >No</h4>
                        </div> 
                        <br>                        
                        {% endif %}
                                 
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Riegos mensuales: </h4>
                            <h4 style="float: left; margin-left: 5px;" >{{planta.frecuenciaRiego}}</h4>
                        </div> 
                        <br> 
                        <div style="clear: both">
                            <h4 style="text-decoration-line: underline; float: left" >Descripción: </h4>
                            <h4 style="float: left; margin-left: 5px; margin-bottom: 50px;" >{{planta.descripcion}}</h4>
                        </div> 
                                                
                        <br>
                        <br>
                        <div  class="subpage-hero" style="margin-top: 70px;">
                        <h3><a class="btn btn-border" href="{% url 'plantas:ListaPlantas' %}" >Listado de plantas</a> 
                        <a class="btn btn-border" onclick="history.back()">Volver</a></h3>  
                        </div>
                    </div>
                    <div class="col-sm-7 hidden-xs">
                        {% if planta.imagen %}
                        <img src="{{planta.imagen.url}}" style="margin-top: 100px;" > 
                        {% endif %}
                    </div>
                </div>
            </div>



        </section>

 

    </main><!-- /#main -->

    {% endblock %}