{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="heading-separator2">Edicion de usuario</h2>
                   
                        <form class="text-center" action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-border" value="Guardar" style="margin-top: 30px;"/>
                        </form>
                        <h3><a class="btn btn-border" onclick="history.back()">Volver</a></h3>  
                    
                </div>
            </div>
        </section><!-- /.section-portfolio -->


    </main><!-- /#main -->

    {% endblock %}