{% extends 'home/base.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <main id="main" class="site-main">
        

        <section class="site-section section-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Usuario: {{user.username}}</h2>
                        
                        <br>         
                        {% if user.first_name %}    
                        <h4>Nombre: {{user.first_name}}</h4>
                        {% endif %}
                        {% if user.last_name %} 
                        <h4>Apellido: {{user.last_name}}</h4>
                        {% endif %}
                        <h4>Email: {{user.email}}</h4>
                        {% if user.is_superuser %}
                        <h4>Es SuperUser: Si</h4>
                        {% else %}
                        <h4>Es SuperUser: No</h4>
                        {% endif %}
                        <br>
                        <br>
                        <div style="text-decoration-line: underline;" class="subpage-hero">
                            <h3><a class="btn btn-border" href="{% url 'sesion:EditarPerfil' %}" >Editar informacion</a></h3> 
                            <h3><a class="btn btn-border" href="{% url 'home:Inicio' %}" >Home</a></h3> 
                            <h3><a class="btn btn-border" onclick="history.back()">Volver</a></h3> 
                        </div>              
                                        
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        
                        <img src="{{user.avatar.imagen.url}}" style="margin-top: 100px;" > 
                        
                    </div>
                </div>
            </div>
        </section>

     

    </main><!-- /#main -->

    {% endblock %}